.midImage{
    width: 70%;
    max-width: 425px;
    border-radius: 100%;
    border:3px solid #fff;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
@media (max-width: 55em){
    header{
        height:500px;
    }
}

@media (max-width: 22em) {
    header {
        height: 350px;
    }
}
@media (min-width: 45em){
    header{
        height:600px;
    }
}
